/******General settings*****/
body{
	margin: 0;
	padding: 0;
    background-color:white;
    font-family: 'Alegreya Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#wrapper{
    background-color:lightgrey;
    margin:10px;
    border:3px groove;
    min-height:850px;
}
/****End*****/

/*****This section controls the top Element. observe there is an unused 
spantag in the html (h1), please change this comment if you decide to use it******/

#logowrapper{
	padding-top: 1em;
    background-color: white;
	border-bottom: 5px solid;
	border-top: 20px solid;
    border-top-color: darkgrey;
	height: 200px;
}
#logowrapper img{
	position: absolute;
	left: 130px;
}
#logowrapper h1{
	position: absolute;
	left: 390px;
	top: 90px;
	text-align: left;
    font-size:150%;
}
#logowrapper h1 span{
    font-size:210%;
}
/*********End of top Element*******/

/*******this section controls the navigation******/

#navwrapper { /***this wrapper just makes it look like navbar is streched across the screen***/
    height:52px;
    background-color: darkgray;	
    margin-top:0;
}
#nav a{
    font-family:'Raleway','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	position: relative;
	left: 200px;
	display: block;
	width:140px;
    font-size:larger;
    font-weight:600;
	text-decoration: none;
	color: black;
	text-align: center;
	padding-left:10px;
    padding-right:10px;
    padding-top:15px;
    padding-bottom:15px;

    border-right:2px solid;
	}

ul{
	list-style-type: none; /***removes default link decoration****/
	padding: 0;
	margin: 0;
    overflow:hidden;
    min-width:810px;
}

#nav li {
    float: left;

}


/*******This is the main content, 
including a content wrapper and left/right-div*******/

#contentwrapper{
    
	padding: 5em;
	margin: 1em;
    overflow:hidden;
    min-width: 1800px;
}

	#leftdiv{
		display: block;
		float: left;
		width: auto;
        height: 500px;
		padding: 0.7em;
		-webkit-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
		-moz-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
		box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
		margin: inherit;
		background-color: white;
	}
#rightdiv{
	display: block;
	float: left;
	width: auto;
    font-size:1.2em;
    font-weight:400;
    max-width:800px;
	padding: 1em;
	-webkit-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	-moz-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	margin: inherit;
	background-color: white;
    min-height:900px;
	overflow: hidden;
    

	}
.text-holder{
    display: block;
	float: left;
	width: 607px;

    max-width:inherit;
	padding: 0.7em;
	-webkit-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	-moz-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	margin: inherit;
	background-color: white;
    height:695px;
	overflow: hidden;  

	}
/****cardstyles***/

.cardholder{
    background-color:white;
    width:1600px;
    height:700px;
    margin:15px;
    padding:30px;
   
}

.cardholder img{
    position:center;
    
}
.card{
   float:left;
   
    padding:1px;
    border:2px groove;
    width: 302px;

}
.text{
    float: right;
    max-width:1200px;
    height: 500px;
    position:relative;
    left: -35px;
    padding:15px;
    
    
}
/****Bottom content****/
footer{
	clear: left;
	padding: 0.5em;
	font-style: italic;
    position:relative;
    left: 800px;
    
}
/**Media query site1.Master**/

@media screen and (max-width: 800px){
    #wrapper{
        width:100%;
        margin:1px;
    }
    #logowrapper h1{
        min-width:400px;
        overflow:hidden;
        position:absolute;
        left:250px;
    }
     #logowrapper img{
       position:absolute;
       left:15px;
    }
  
    #nav a{
        position:relative;
        left: 0px;
       
        display: block;

        padding-left:4px;
        padding-right:4px;
        padding-top:18px;
        padding-bottom:18px;
        font-size:smaller;
        font-weight:600;


    }
 
    #nav{
        min-width:800px;
    }
    footer{
        position:relative;
        left:37%;
        overflow:hidden;
    }
    #contentwrapper{
        margin:0;
        padding:0;
    }

    /**cardpage*/
    .cardholder{
       height:1550px;
       width:750px;
       position:relative;
       left:-10px;
       top:-10px;     
    }

    .text{
        margin:20px;
        padding:0px;
        position:relative;
        top: -30px;
        float:none;
        width:85%;        
    }

    .card{
        padding:0;
        margin:0;
        position:relative;
        left:-20px;
        float:none;
        top:-20px;
    }
    /*HomePage*/
    



}

@media screen and (max-width: 550px){
     #wrapper{
     width:100%;
     margin: 0;
     padding: 0;
    }
     
     #nav {
         min-width:0;

     }
    #nav a{
        background-color: darkgray;
        width: 100%;
        display: block;
        border-bottom:2px groove;
        padding-top:5px;
        padding-bottom:5px;
        color:black;
    }
    #logowrapper{
	padding-top: 1em;
    background-color: white;
	border-bottom: 3px solid;
	border-top: 15px solid;
    border-top-color: darkgrey;
	height: 100px;
    font-size:small;
    font-stretch:extra-expanded;
    
}
    #logowrapper img{
        width: 25%;
        height: 10%;
        position:absolute;
        left:3%;
    }

    #logowrapper h1{
        position: relative;
        left: 33%;
        top:16%;
        font-size:90%;
        

        
    }
    #nav li{
        float: none;

    }
    footer{
        position:relative;
        left:37%;
    }
    /**cardspage*/
        .cardholder{
       height:2200px;
       position:relative;
       left:-20px;
       top:75px;
       max-width:500px;     
    }

    .text{
        margin:0px;
        padding:0px;
        position:relative;
        top: -30px; 
        left:-10px;
        width:375px; 
        float:none;   
    }
     

    .card{
        padding:0;
        margin:0;
        position:relative;
        left:-20px;
        float:none;
        top:-20px;
    }

    /*HomePage*/
        #leftdiv img {
            width:430px;
            height:400px;
            position:relative;
            margin:80px;
            padding:1px;
            overflow:auto;

            
        
        }
        #rightdiv p{
            width:100%;
            margin:0;
            padding:0;
            position:relative ;
            float:none;
        
    }
        #rightdiv p{
            
        }
     

}








