/******General settings*****/
body{
	margin: 0;
	padding: 0;
    background-color:white;
    font-family: 'Alegreya Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#wrapper, #footerdiv{
    background-color:lightgrey;
    margin-left:10px;
    margin-right:10px;
    border-right:3px groove;
    border-left:3px groove;

    min-height:850px;
}
/****End*****/

/*****This section controls the top Element. observe there is an unused 
spantag in the html (h1), please change this comment if you decide to use it******/

#logowrapper{
	padding-top: 1em;
    background-color: white;
	border-bottom: 5px solid;
	border-top: 20px solid;
    border-top-color: darkgray;
	height: 200px;
}
#logowrapper img{
	position: absolute;
	left: 130px;
}
#logowrapper h1{
	position: absolute;
	left: 390px;
	top: 90px;
	text-align: left;
    font-size:150%;
}
#logowrapper h1 span{
    font-size:210%;
}
/*********End of top Element*******/

/*******this section controls the navigation******/

#navwrapper { /***this wrapper just makes it look like navbar is streched across the screen***/
    min-height:52px;
    background-color: darkgray;	
    margin-top:0;
}
#menubutton{
    display:none;
}
#nav a{
    font-family:'Raleway','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	position: relative;
	left: 200px;
	display: block;
	width:140px;
    font-size:larger;
    font-weight:600;
	text-decoration: none;
	color: black;
	text-align: center;
	padding-left:10px;
    padding-right:10px;
    padding-top:15px;
    padding-bottom:15px;

    border-right:2px solid;
	}

ul{
	list-style-type: none; /***removes default link decoration****/
	padding: 0;
	margin: 0;
    overflow:hidden;
    min-width:810px;
}

#nav li {
    float: left;

}


/*******This is the main content, 
including a content wrapper and left/right-div*******/

#contentwrapper{
    
	padding: 5em;
	margin-left: 1em;
    margin-right:1em;
    overflow:hidden;
    max-width: 1800px;
}

	.leftdiv.cardholder2{
		display: block;
		float: left;
		width: auto;
        height: 500px;
		padding: 0.7em;
		-webkit-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
		-moz-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
		box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
		margin: inherit;
		background-color: white;
	}
    .rightdiv.text2{
	display: block;
	float: left;
	width: auto;
    font-size:1.2em;
    font-weight:400;
    max-width:800px;
	padding: 1em;
	-webkit-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	-moz-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	margin: inherit;
	background-color: white;
    min-height:900px;
	overflow: hidden;
    

	}
.text-holder{
    display: block;
	float: left;
	max-width: 607px;
	padding: 0.7em;
	-webkit-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	-moz-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	margin: inherit;
	background-color: white;
    max-height:695px;
	overflow: hidden;  

	}
/****cardstyles***/

.cardholder{
    background-color:white;
 
    min-height:700px;
    margin-bottom:15px;
    padding:30px;
   
}

.cardholder img{
    position:center;
    
}
.card{
   float:left;
   margin: 10px;
    padding:1px;
    border:2px groove;
    max-width: 302px;

}
.text{


    margin:10px;
    padding:15px;
    
    
}
.text p{
    width:auto;
}
/**Login content**/
#LoginForm {
    display:none;
}
#login{
    text-align:right;
    margin:15px;
    padding:20px;
    float:right;
    width:300px;
}
/****Bottom content****/
footer{
    text-align:center;
    
	padding: 1em;
	font-style: italic;
    
    color:black;
    
}
/**Media query site1.Master**/

@media screen and (max-width: 800px) {
    #footerdiv{
        margin:0;
    }
    footer{
        position:static;
        overflow: hidden;

    }
    #wrapper {
        width: 100%;
        margin: 1px;
    }
  
    #logowrapper h1 {
        min-width: 400px;
        overflow: hidden;
        position: absolute;
        left: 250px;
    }
       
    #logowrapper img {
        position: absolute;
        left: 15px;
    }

    #nav a {
        position: relative;
        left: 0px;
        display: block;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 18px;
        padding-bottom: 18px;
        font-size: smaller;
        font-weight: 600;
    }

    #nav {
        min-width: 800px;
    }


    #contentwrapper {
        margin: 0;
        padding: 0;
        background-color:white;
        width:100%;
    }
 
    /**cardpage*/

    .card img{
        width:200px;
        height:310px;
    }
    .card {
        padding: 0;
        margin-right:20px;

        float:left;
        top: -20px;
        width:auto;
    }
    /*HomePage*/
    #leftdiv.cardholder2 {
		display: block;
		float: left;
		width: auto;
        min-height: 500px;
		padding: 0.7em;
		-webkit-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
		-moz-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
		box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
		margin: inherit;
		background-color: white;
	}

    #rightdiv.text2 {
	display: block;
	float: left;
	width: auto;
        font-size: 1.2em;
        font-weight: 400;
        max-width: 800px;
	padding: 1em;
	-webkit-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	-moz-box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	box-shadow: 1px -1px 12px 1px rgba(15,10,15,1);
	margin: inherit;
	background-color: white;
        min-height: 900px;
	overflow: hidden;
    }
}

    @media screen and (max-width: 550px) {
        #wrapper {
            width: 100%;
     margin: 0;
     padding: 0;
    }
     
     #nav {
            display: none;
            min-width: 0;
        }

        #menubutton {
            display:block;
            position:absolute;
            top:24px;
            right:7px;

 
            background-image: url('../menu-icon.png');
            background-repeat: no-repeat;
            background-size: 45px 50px;
            background-position: left;
            border: none;
            background-color: none;
        }
        #buttonborder{
            display:none;
            position:absolute;
            top:21px;
            right:4px;
            border:3px inset;
            width:44px;
            height:45px;

     }

        #nav a {
            border: outset;
            border-color: black;
            border-width: thin;
            color: black;
            padding-top: 23px;
            padding-bottom: 23px;
            font-weight: 500;
            font-size: larger;
            text-shadow: 1px 4px 10px white;
        width: 100%;
            background: rgba(36,35,36,1);
            background: -moz-linear-gradient(top, rgba(36,35,36,1) 0%, rgba(184,184,184,1) 0%, rgba(156,152,156,1) 32%, rgba(98,85,98,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,35,36,1)), color-stop(0%, rgba(184,184,184,1)), color-stop(32%, rgba(156,152,156,1)), color-stop(100%, rgba(98,85,98,1)));
            background: -webkit-linear-gradient(top, rgba(36,35,36,1) 0%, rgba(184,184,184,1) 0%, rgba(156,152,156,1) 32%, rgba(98,85,98,1) 100%);
            background: -o-linear-gradient(top, rgba(36,35,36,1) 0%, rgba(184,184,184,1) 0%, rgba(156,152,156,1) 32%, rgba(98,85,98,1) 100%);
            background: -ms-linear-gradient(top, rgba(36,35,36,1) 0%, rgba(184,184,184,1) 0%, rgba(156,152,156,1) 32%, rgba(98,85,98,1) 100%);
            background: linear-gradient(to bottom, rgba(36,35,36,1) 0%, rgba(184,184,184,1) 0%, rgba(156,152,156,1) 32%, rgba(98,85,98,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242324', endColorstr='#625562', GradientType=0 );
    }

        #logowrapper {
	padding-top: 1em;
    background-color: white;
	border-bottom: 3px solid;
	border-top: 15px solid;
    border-top-color: darkgrey;
	height: 100px;
            font-size: small;
            font-stretch: extra-expanded;
        }
    
            #logowrapper img {
        width: 25%;
        height: 10%;
                position: absolute;
                left: 3%;
    }

            #logowrapper h1 {
        position: relative;
        left: 33%;
                top: 16%;
                font-size: 90%;
            }
        
        #nav li {
            float: none;
    }


        /**cardspage*/
        .cardholder {
           padding:3px;
            max-width: 500px;
            min-height:0;
            margin:0;
    }
        hr{
            display:none;
    }

        .text {
            display:none;
            margin: 0px;
            padding: 0px;
            float: none;
            min-width:150px;
        position:relative;
            z-index:5;
       
    }
     


        .card {
            border:none;
            margin: 0;
            position: relative;
            float: left;
            top:0;
            z-index:25;

        }
        .card img{
            padding-right:5px;
            width:100px;
            height:170px;
        }
    }











